<% include ./partials/head %>
<script src='/tunisiana/views/js/gk3global.js' type='text/javascript'></script>
<script src='/tunisiana/views/js/callsnodup.js' type='text/javascript'></script>
<div class="modal-header">
	<!-- <button type="button" id="modal-fullcreen" class="close" aria-hidden="true"><i class="fa fa-compress"></i></button> -->
    <h4 class="modal-title">Query Detail</h4>
</div>
<div class="modal-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<p> <%=type%>: <strong><%= data %></strong></p>
			<input type="text" id="type" value="<%=type%>"  hidden>
			<input type="text" id="data" value="<%=data%>"  hidden>
			<input type="text" id="queryday" value="<%=day%>"  hidden>
			<input type="text" id="hour" value="<%=hour%>"  hidden>
			<input type="text" id="defaultRangeHour" value="<%=defaultRangeHour%>" hidden>
			<form class="form-inline">
				<div class="form-group col-md-5">
					<label for="startDate" >Date Range >= </label>
					<input id="startDate" type="text" style="width: 120px;" class="form-control" value="" placeholder="yyyy-MM-dd HH">
				</div>
				<div class="form-group col-md-5">
					<label for="endDate">Date Range <=</label>
					<input id="endDate"  type="text" style="width: 120px;" class="form-control" value="" placeholder="yyyy-MM-dd HH">
				</div>
				<div class="form-group col-md-2">
					<input type="button" class="btn btn-primary btn-sm" id="query" value="GO">
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		
		<div class="panel-body">
			<table class="table table-striped cell-border" width="100%" id="callsnodup-datatable">
				<thead>
				<tr style="background-color: lightgreen;">
						<th>Call Time</th>
						<th>Calling</th>
						<th>Called</th>
						<!--<th>SW ID</th>-->
						<!--<th>Call ID</th>	-->
						<th>Call Type</th>
						<!--<th>Call End Time</th>-->
						<th>Duration</th>
														
						<th>Calling_IMSI</th>
						<th>Calling_IMEI</th>
						<!--Model and Vendor missing in response data currently -->
						<th>Cell Id</th> <!--Remove Calling once Other party info is coming from backend-->
						<th>LAC</th>
				<!--		<th>Term Cause</th>
						<th>Term Reason</th>
						<th>SS Code</th>-->
						<th>Trunk In</th>
						<th>Trunk Out</th>
						
						<!--<th>Call Date Hour</th>-->
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<div id='ajax_loader' class="mask" style="display:none;"></div>

<footer> <% include ./partials/footer %> </footer>