<!doctype html>
<html>
<head>
    <script src='/tunisiana/views/js/gk3global.js' type='text/javascript'></script>
    <script src='/tunisiana/views/js/dailyKpi.js' type='text/javascript'></script>

</head>
<body>

<div class="container-fluid">
    <div id="page" class="container-fluid panel-group">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#<%=req.params.type%>filter_collapse"><i
                                    class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i>Filter</a>
                    </h4>
                </div>
                <div id="<%=req.params.type%>filter_collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form-inline" action="" method="get">
                            <!-- 	store reprot type -->
                            <input type="hidden" id="reportType" value="<%=req.params.type%>">
                            <div class="row" style="margin-left: 0;">
                                <div class="form-group col-md-4">
                                    <label for="start" class="col-sm-2 control-label">Start:</label>
                                    <div class="input-group input-group-sm date col-sm-6" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                        <input type="text" id="<%=req.params.type%>start" class="form-control datepicker">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  col-md-4">
                                    <label for="end" class="col-sm-2 control-label">End:</label>
                                    <div class="input-group input-group-sm date col-sm-6"
                                         data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                        <input type="text" id="<%=req.params.type%>end" class="form-control datepicker">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-1">
                                    <input type="button" value="Go" class="btn btn-primary btn-sm"
                                           id="<%=req.params.type%>refresh">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a role="button" id="graph_collapse_button" data-toggle="collapse"  href="#<%=req.params.type%>graph_collapse"><i class="fa fa-angle-double-down fa-fw" aria-hidden="true"></i>Graphs</a>
                    </h4>
                </div>

                <div id="<%=req.params.type%>graph_collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row" style="margin-left: 0;">
                            <div  class="col-sm-6 col-md-4">
                                <div  class="caption" >
                                    <strong>New Detections</strong>
                                </div>

                                <div class="thumbnail zoom" id="<%=req.params.type%>newDetections-chart">
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4">
                                <div class="caption">
                                    <strong>Fraud Activity</strong>
                                </div>
                                <div class="thumbnail zoom" id="<%=req.params.type%>fraudActivity-chart">

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="caption">
                                    <strong>Median Loss</strong>
                                </div>
                                <div class="thumbnail zoom" id="<%=req.params.type%>medianLoss-chart">
                                </div>
                            </div>
                        </div>
                        <div  class="row" style="margin-left: 0;">
                            <div class="col-sm-6 col-md-4">
                                <div class="caption">
                                    <strong>New Detections</strong>
                                </div>

                                <div class="thumbnail zoom" id="<%=req.params.type%>newDetections-pieChart">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="caption">
                                    <strong>International Revenue</strong>
                                </div>
                                <div class="thumbnail zoom" id="<%=req.params.type%>iRevenue-chart">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="caption">
                                    <strong>Median Loss</strong>
                                </div>
                                <div class="thumbnail zoom" id="<%=req.params.type%>medianLoss-pieChart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a role="button" id="table_title" data-toggle="collapse"
                       href="#<%=req.params.type%>table_collapse"><i class="fa fa-angle-double-down fa-fw"></i>Daily KPI
                        <%
                        var type = req.params.type;
                        if ("onnet" == type) { %>
                        On-net
                        <% }
                        else if ("corporate" == type) {%>
                        Corporate
                        <%}
                        else if ("offnet" == type) {%>
                        Off-net
                        <%}
                        %>
                    </a>
                </h4>


                <ul class="list-inline panel-actions">

                    <li class="label1">Total Records:	</li><li class="label1"><strong align='left' id="record_count"></strong></li>
                    <li>
                        <a href="#" id="panel-fullscreen" data-table="<%=req.params.type%>dailyKpi-datatable" role="button" title="Toggle fullscreen" onclick="panleFull(this)"><i class="glyphicon glyphicon-resize-full"></i></a>
                    </li>
                </ul>

            </div>

            <!--if( $('#cartContent').is(':empty') ) -->
            <div id="<%=req.params.type%>table_collapse" class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table table-striped cell-border"
                           id="<%=req.params.type%>dailyKpi-datatable">
                        <thead>
                        <tr>
                            <th rowspan="3" style="background-color: lightskyblue;">DATE</th>
                            <th colspan="7" style="background-color: forestgreen;">New Detections (Unique)</th>
                            <th colspan="5" style="background-color: lightskyblue;">Total Fraud Activity</th>
                            <th colspan="6" style="background-color: forestgreen;">Median MOU Before</th>
                            <th colspan="6" style="background-color: forestgreen;">Median MOU After</th>
                            <th colspan="4" style="background-color: lightskyblue;">Median Loss</th>
                            <th colspan="4" style="background-color: forestgreen;">False Positive</th>
                        </tr>
                        <tr>
                            <!--New Detections (Unique)-->
                            <th colspan="3"  style="background-color: lightgreen;">Mobius</th>
                            <th colspan="2"  style="background-color: limegreen;">Other</th>
                            <th colspan="2"  style="background-color: mediumseagreen;">Total New</th>

                            <!--Total Fraud Activity-->
                            <!--<th rowspan="2" style="background-color: powderblue;">SIMs*</th>
                            <th rowspan="2" style="background-color: powderblue;">MOU Before</th>
                            <th rowspan="2" style="background-color: powderblue;">MOU After</th>
                            <th rowspan="2" style="background-color: powderblue;">Total MOU</th>
                            <th rowspan="2" style="background-color: powderblue;">Total Loss</th>-->

                            <th rowspan="2" style="background-color: lightskyblue;">SIMs*</th>
                            <th rowspan="2" style="background-color: lightskyblue;">MOU Before</th>
                            <th rowspan="2" style="background-color: lightskyblue;">MOU After</th>
                            <th rowspan="2" style="background-color: lightskyblue;">Total MOU</th>
                            <th rowspan="2" style="background-color: lightskyblue;">Total Loss</th>

                            <!--Median MOU Before-->
                            <th colspan="3" style="background-color: lightgreen;">Mobius</th>
                            <th colspan="2"  style="background-color: limegreen;">Other</th>
                            <th rowspan="2" style="background-color: mediumseagreen;" align="top">Total</th>


                            <!--Median MOU After -->
                            <th colspan="3" style="background-color: lightgreen;">Mobius</th>
                            <th colspan="2"  style="background-color: limegreen;">Other</th>
                            <th rowspan="2" style="background-color: mediumseagreen;" align="top">Total</th>


                            <!--Median Loss-->
                            <th rowspan="2" style="background-color: lightskyblue;">Before</th>
                            <th rowspan="2" style="background-color: lightskyblue;">After</th>
                            <th rowspan="2" style="background-color: lightskyblue;">Total</th>
                            <th rowspan="2" style="background-color: lightskyblue;">Remaining Balance</th>

                            <!--False Positive-->
                            <th colspan="2" style="background-color: lightgreen;">Mobius GK</th>
                            <th colspan="2" style="background-color: limegreen;">Mobius GKC</th>

                        </tr>
                        <tr>
                            <th>GK</th>
                            <th>GKC</th>
                            <th>TCG</th>
                            <th>TCG</th>
                            <th>FMS</th>
                            <th>Total</th>
                            <th>Total Balance Remaining</th>

                            <th>GK</th>
                            <th>GKC</th>
                            <th>TCG</th>
                            <th>TCG</th>
                            <th>FMS</th>
                            <th>GK</th>
                            <th>GKC</th>
                            <th>TCG</th>
                            <th>TCG</th>
                            <th>FMS</th>
                            <th>Count</th>
                            <th>%</th>
                            <th>Count</th>
                            <th>%</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
